<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Apple Components</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/layout.css">
    
</head>
    

<body>

<div class="outer">
    <div class="topnav">
        Top Nav
    </div>
    <div class="page">
    
        
        
        <!-- HERO CONTENT --> 
        <div class="container1">        
			<div class="image-column">
		    <img src="img/macbookair1.png" width="283" height="193" alt="macbookair1"/>
			</div>
		</div>
		<div class="container2">
		<div class="hero_text_headline1">Midnight</div>
		<div class="image-column">
		  <img src="img/colorselection1.png" width="166" height="45" alt="Midnight"/>
			</div>
       </div>
		<div class="container3">
		<div class="hero_text_headline2">New</div>
		<div class="image-column">
				<img src="img/applem3.png" width="66" height="64" alt="applem3"/>
			 </div>
			</div>
		<div class="container4">
                    <p class="hero_text">8-Core CPU</p>
					<p class="hero_text">8-Core CPU</p>
					<p class="hero_text">8GB Unified Memory</p>
					<p class="hero_text">256GB SSD Storage¹</p>
                </div>
				
  	           
			
   <!-- HERO CONTENT --> 
               <div class="container1">        
			<div class="image-column">
			  <img src="img/macbookair2.png" width="290" height="192" alt="macbookair2"/>
			</div>
		</div>
		<div class="container2">
		<div class="hero_text_headline1">Starlight</div>
		<div class="image-column">
		  <img src="img/colorselection2.png" width="169" height="44" alt="Starlight"/>
			</div>
       </div>
		<div class="container3">
		<div class="hero_text_headline2">New</div>
		<div class="image-column">
				<img src="img/applem3.png" width="66" height="64" alt="applem3"/>
			 </div>
			</div>
		<div class="container4">			
                    <p class="hero_text">8-Core CPU</p>
					<p class="hero_text">10-Core CPU</p>
					<p class="hero_text">8GB Unified Memory</p>
					<p class="hero_text">512GB SSD Storage¹</p>                
			</div>           

		<!-- HERO CONTENT -->
               <div class="container1">        
			<div class="image-column">
			  <img src="img/macbookair3.png" width="280" height="189" alt="macbookair3"/>
			</div>
		</div>
		<div class="container2">
		<div class="hero_text_headline1">Space Gray</div>
		<div class="image-column">
		  <img src="img/colorselection3.png" width="165" height="44" alt="Space Gray"/>
			</div>
       </div>
		<div class="container3">
		<div class="hero_text_headline2">New</div>
		<div class="image-column">
				<img src="img/applem3.png" width="66" height="64" alt="applem3"/>
			 </div>
			</div>
		<div class="container4">			
                    <p class="hero_text">8-Core CPU</p>
					<p class="hero_text">10-Core CPU</p>
					<p class="hero_text">16GB Unified Memory</p>
					<p class="hero_text">512GB SSD Storage¹</p>             
			</div>
            
        </div>

        
    </div>



</body>

</html>